@font-face {
    font-family: 'Roboto-Regular' ;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto-Medium' ;
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #FFF;
}
/* body{
    font-family: 'Roboto-Regular', 'Times New Roman', Times, serif ;
    font-size: 2rem;
    
}

h2{
    font-family: 'Roboto-Medium';
} */
.wrapper{
    max-width: 1300px;
    margin-left: 150px;
}

.header{
    margin: 0 auto;
    max-width: 1600px;
    background-image: url(../images/bgGroup.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header__top{
    display: flex;
    margin: 150px;
    justify-content: space-between;
    flex-direction: row;
}
.mainmenu{
    display: inline;
    align-self: center;
    font-size: larger;
    font-variant: small-caps;
}
.mainmenu__item li{
    display: inline;
    margin: 10px;
}
.btn__order{
   
    background-color: orange;
    align-self: center;
    font-variant: small-caps;
    font-size: 22px;
    border-radius: 5px;
    padding: 10px;
}
.undhed{
    margin: 0 auto;
    max-width: 1600px;
    background-color: darkgrey;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 600px;
}
.contentuh{
    margin: -60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 220px;
}
.elemuh{
    border-radius: 5px;
    display: flex;
    margin: 10px;
    justify-content: center;
    color: white;
    height: 182px;
    width: 162px;
    background-color: black;
}